@import "../../media-query";

@include desktop {
  .authpage {
    width: 100%;

    &__container {
      margin-left: 10rem;
      display: flex;
      gap: 15rem;
      margin-top: 10rem;
      margin-right: 7rem;
    }

    &__signin,
    &__signup {
      width: 50%;

      &-title {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      &-form {
        display: flex;
        flex-direction: column;

        & > input:not(:last-child) {
          border: none;
          outline: none;
          border-bottom: 3px solid transparent;

          margin-bottom: 2rem;
          padding-right: 2rem;
          font-size: 2rem;

          &::placeholder {
            font-weight: lighter;
            color: black;
          }

          &:focus {
            border-bottom: 3px solid darkred;
          }
        }

        & > input:last-child {
          background-color: white;
          border: 2px solid black;
          border-radius: 4px;
          padding: 1rem 0;
          font-size: 2rem;

          transition: all 0.5s;

          &:hover {
            border: 2px solid pink;
            border-radius: 4px;
            color: pink;
            cursor: pointer;
          }
        }
      }
    }
  }
}
