@import "../../media-query";

.authpage {
  width: 100%;
  height: 80vh;

  &__container {
    margin-left: 10rem;
    margin-top: 10rem;
    margin-right: 7rem;
    display: flex;
    @include tablet {
      flex-direction: column;
      margin-left: 6rem;
      margin-top: 6rem;
    }
    @include mobile {
      flex-direction: column;
      margin-left: 4rem;
    }
    gap: 15rem;
    @include tablet {
      gap: 4rem;
    }
    @include mobile {
      gap: 4rem;
    }
  }

  &__signin,
  &__signup {
    width: 50%;

    &-title {
      font-size: 3rem;
      margin-bottom: 2rem;
      @include mobile {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }

    &-form {
      display: flex;
      flex-direction: column;

      & > input:not(:last-child) {
        border: none;
        outline: none;
        border-bottom: 3px solid transparent;

        margin-bottom: 2rem;
        padding-right: 2rem;
        font-size: 2rem;
        @include mobile {
          font-size: 1rem;
          margin-bottom: 1rem;
          padding: 0;
        }

        &::placeholder {
          font-weight: lighter;
          color: black;
        }

        &:focus {
          border-bottom: 3px solid darkred;
        }
      }

      & > input:last-child {
        background-color: white;
        border: 2px solid black;
        border-radius: 4px;
        padding: 1rem 0;
        font-size: 2rem;
        @include mobile {
          font-size: 1rem;
          padding: 0.5rem 0;
        }

        transition: all 0.5s;

        &:hover {
          border: 2px solid pink;
          border-radius: 4px;
          color: pink;
          cursor: pointer;
        }
      }
    }
  }
}
