@import "../../media-query";

@include desktop {
  .postings {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 30;
    font-size: 1.5rem;
    text-align: left;
    padding: 15% 20%;

    &__titles {
      display: flex;
      flex-direction: column;
    }

    &__title {
      padding: 1rem 1rem;
      border-bottom: 1px solid black;
      text-decoration: none;
      color: black;

      transition: color 0.5s;

      &:hover {
        color: pink;
      }
    }
  }
}
