@import "../../media-query";

@include desktop {
  .homelink {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2rem;
    margin-left: 2rem;
    z-index: 11;

    &__link {
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
      letter-spacing: 1rem;
      transition: color 0.5s;

      &:hover {
        color: pink;
      }
    }
  }
}
