body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  min-height: 100vh;
}

html {
  /* min-height: 100%; */
  overflow-y: scroll;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app__container {
  height: 100%;
}

.app__footer {
  height: 30%;
}
